body {
    background-color:black;
    margin:0; padding:0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#game {
    width:100vw;
    height:62.5vw;
    cursor: none;
    transform-origin: left top;
}

canvas {
    transform-origin: left top;
}